{% extends "index.html" %}

{% block content %}
<link href="static/lib/ionic/css/ionic.css" rel="stylesheet">
<ion-view title="Home" id="page4">
    <ion-content padding="true" class="has-header">
        <a href="/patients" id="login-button6" class="button button-positive button-block">Patient records</a>
        <a href="/takePhoto" id="login-button6" class="button button-positive button-block">Take photo</a>
        <a href="/home" id="login-button6" class="button button-positive button-block">Settings</a>
    </ion-content>
</ion-view>

{% endblock %}