<ion-view title="Home" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="home-card23">
            <ion-item class="item-icon-left" id="home-list-item8" ui-sref="patients">
                <i class="icon ion-android-person"></i>Patient records</ion-item>
            <ion-item class="item-icon-left" id="home-list-item9" ui-sref="takePhoto">
                <i class="icon ion-image"></i>Take photo</ion-item>
            <ion-item class="item-icon-left" id="home-list-item13">
                <i class="icon ion-android-settings"></i>Settings</ion-item>
        </div>
    </ion-content>
</ion-view>