{% extends "index.html" %}

{% block content %}
<link href="static/lib/ionic/css/ionic.css" rel="stylesheet">
    
        <form id="login-form2" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input" id="login-input3">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a href="/home" id="login-button6" class="button button-stable  button-block">Log in</a>
            <a href="/signup" id="login-button7" class="button button-positive  button-block button-clear">
                Or create an account
            </a>
        </form>

{% endblock %}