<ion-view title="Patients" id="page5">
    <ion-content padding="true" class="has-header">
        <ion-list id="patients-list4">
            <ion-item class="item-avatar" id="patients-list-item14" ui-sref="patient1">
                <h2>Patient 1</h2>
            </ion-item>
            <ion-item class="item-avatar" id="patients-list-item15">
                <h2>Patient 2</h2>
            </ion-item>
            <ion-item class="item-avatar" id="patients-list-item16">
                <h2>Patient 3</h2>
            </ion-item>
            <ion-item class="item-avatar" id="patients-list-item17">
                <h2>Patient 4</h2>
            </ion-item>
            <ion-item class="item-avatar" id="patients-list-item18">
                <h2>Patient 5</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>