{% extends "index.html" %}

{% block content %}
<link href="static/lib/ionic/css/ionic.css" rel="stylesheet">

            <div class="item-avatar">
                <a href="patient1"><h2>Patient 1</h2></a>
            </div>
            <div class="item-avatar">
                <h2>Patient 2</h2>
            </div>
            <div class="item-avatar">
                <h2>Patient 3</h2>
            </div>
            <div class="item-avatar">
                <h2>Patient 4</h2>
            </div>
            <div class="item-avatar">
                <h2>Patient 5</h2>
            </div>
       
{% endblock %}